[program:hbase-thrift]
command={{hbase_install_dir}}/bin/hbase-daemon.sh start thrift
directory={{hbase_install_dir}}
process_name=hbase-thrift
autostart=true
autorestart=true
user=hbase
startsecs=15
startretries=9
redirect_stderr=true

stdout_logfile={{hbase_logs_dir}}/hbase-thrift.out
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
