[program:hbase]
command={{hbase_install_dir}}/bin/start-hbase.sh
directory={{hbase_install_dir}}
process_name=hbase
autostart=true
autorestart=true
user=hbase
startsecs=15
startretries=9
redirect_stderr=true

stdout_logfile={{hbase_install_dir}}/logs/hbase.out
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
