<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>hbase.rootdir</name>
        <value>{{ hbase_data_dir }}</value>
    </property>
    <property>
        <name>hbase.cluster.distributed</name>
        <value>false</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>{{ hbase_zookeepers|join(',') }}</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.clientPort</name>
        <value>{{ hbase_zookeeper_client_port }}</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.dataDir</name>
        <value>{{hbase_zookeeper_data_dir}}</value>
    </property>
</configuration>
